In [54]:
import pandas as pd
# !pip install xlrd
file = 'original_all.xls'
dfs = pd.read_html(file, skiprows=5)
df = dfs[0]
# Set the DataFrame columns to the values of the second row (which is at index 1)
df.columns = df.iloc[0]

# Drop the first two rows from the DataFrame as they are no longer needed
df = df.drop(df.index[0:1])

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

# FIX DATE
df['Fecha Documento'] = df['Fecha Documento'].str.replace('=', '')  # Remove "="
df['Fecha Documento'] = df['Fecha Documento'].str.replace('"', '')  # Remove extra quotes

# Step 2: Convert the cleaned strings to datetime objects // Cant be done here needs to be in the importation
# df['Fecha Documento'] = pd.to_datetime(df['Fecha Documento'], format='%d/%m/%Y')

# Fix the int of SKU in the main df
df['SKU'] = df['SKU'].str.replace('=', '')  # Remove "="
df['SKU'] = df['SKU'].str.replace('"', '')  # Remove extra quotes
df['SKU'] = df['SKU'].astype(str)

#Create new sucursal
df = df.dropna(subset=['Sucursal'])
df.loc[(df['Cliente'] == 'Sin cliente') & (df['Tracking Number'].notna()), 'Sucursal'] = 'Shopify'

# Add brands!
#df shape
df_brands = pd.read_csv('brands.csv')
# merge the two df
df2_with_brands = pd.merge(df, df_brands[['SKU', 'marca']], on='SKU', how='left')
#  Rename the marca column to brand
# df2_with_brands.rename(columns={'marca': 'brand'}, inplace=True)
# export df to csv
df2_with_brands.to_csv('data.csv', index=False)

In [48]:
df.shape

(165651, 29)

In [49]:
df2_with_brands.shape

(165651, 30)

In [50]:
# export df to csv
df2_with_brands.to_csv('data2.csv', index=False)

In [55]:
df2 = pd.read_csv('data.csv')

In [58]:
#show me column 15 and 16
df2.head(1)

,Tipo Movimiento,Sucursal,Vendedor,Cliente,Rut Cliente,Tipo de Documento,Numero Documento,Tracking Number,Fecha Documento,Fecha y Hora Venta,...,Costo Neto Unitario,Margen,Costo Total Neto,% Margen,Detalle de Productos/Servicios Pack/Promo,Dirección Cliente,Comuna Cliente,Ciudad Cliente,Email Cliente,marca
0,Venta,CASA MATRIZ,REYNALDO CARDENAS,LA DIVINA COMIDA LIMITADA,76003274-3,factura electrónica t,118783,NaN,14/02/2023,"=""13/02/2023 09:58 AM""",...,52080,53150,208310,200,NaN,LOS PATOS 13735,LO BARNECHEA,SANTIAGO,ristoranteladivinacomida@gmail.com,CORTE BUONA

In [9]:
df2.loc[(df2['Cliente'] == 'Sin cliente') & (df2['Tracking Number'].notna()), 'Sucursal'] = 'Shopify'

In [11]:
shopify_count = (df2['Sucursal'] == 'Shopify').sum()
print(shopify_count)

63854

In [13]:
df2.shape

(165651, 29)

In [73]:
df2 = df

In [74]:
# Set the DataFrame columns to the values of the second row (which is at index 1)
df2.columns = df2.iloc[0]

# Drop the first two rows from the DataFrame as they are no longer needed
df2 = df2.drop(df2.index[0:1])

# Reset the index of the DataFrame
df2 = df2.reset_index(drop=True)

In [75]:
df2.columns

Index(['Tipo Movimiento', 'Sucursal', 'Vendedor', 'Cliente', 'Rut Cliente',
       'Tipo de Documento', 'Numero Documento', 'Tracking Number',
       'Fecha Documento', 'Fecha y Hora Venta', 'Lista de Precio',
       'Tipo de Producto / Servicio', 'SKU', 'Producto / Servicio',
       'Otros Atributos', 'Precio Neto Unitario', 'Cantidad',
       'Subtotal Impuestos', 'Subtotal Neto', 'Subtotal Bruto',
       'Costo Neto Unitario', 'Margen', 'Costo Total Neto', '% Margen',
       'Detalle de Productos/Servicios Pack/Promo', 'Dirección Cliente',
       'Comuna Cliente', 'Ciudad Cliente', 'Email Cliente'],
      dtype='object', name=0)

In [78]:
df2['Fecha Documento'] = df2['Fecha Documento'].str.replace('=', '')  # Remove "="
df2['Fecha Documento'] = df2['Fecha Documento'].str.replace('"', '')  # Remove extra quotes

# Step 2: Convert the cleaned strings to datetime objects
df2['Fecha Documento'] = pd.to_datetime(df2['Fecha Documento'], format='%d/%m/%Y')

In [79]:
df2

,Tipo Movimiento,Sucursal,Vendedor,Cliente,Rut Cliente,Tipo de Documento,Numero Documento,Tracking Number,Fecha Documento,Fecha y Hora Venta,...,Subtotal Bruto,Costo Neto Unitario,Margen,Costo Total Neto,% Margen,Detalle de Productos/Servicios Pack/Promo,Dirección Cliente,Comuna Cliente,Ciudad Cliente,Email Cliente
0,Venta,CASA MATRIZ,REYNALDO CARDENAS,LA DIVINA COMIDA LIMITADA,76003274-3,factura electrónica t,118783,NaN,2023-02-14,"=""13/02/2023 09:58 AM""",...,31114,52080,53150,208310,200,NaN,LOS PATOS 13735,LO BARNECHEA,SANTIAGO,ristoranteladivinacomida@gmail.com
1,Venta,CASA MATRIZ,REYNALDO CARDENAS,LA DIVINA COMIDA LIMITADA,76003274-3,factura electrónica t,118783,NaN,2023-02-14,"=""13/02/2023 09:58 AM""",...,9568,6800,53200,27200,660,NaN,LOS PATOS 13735,LO BARNECHEA,SANTIAGO,ristoranteladivinacomida@gmail.com
2,Venta,CASA MATRIZ,REYNALDO CARDENAS,LA DIVINA COMIDA LIMITADA,76003274-3,factura electrónica t,118783,NaN,2023-02-14,"=""13/02/2023 09:58 AM""",...,37263,55280,137040,110560,550,NaN,LOS PATOS 13735,LO BARNECHEA,SANTIAGO,ristoranteladivinacomida@gmail.com
3,Venta,CASA MATRIZ,REYNALDO CARDENAS,COMERCIAL GASTRONOMICA DE BERARDINIS LTDA,76147926-1,factura electrónica t,118788,NaN,2023-02-14,"=""13/02/2023 11:49 AM""",...,50075,53680,206090,214710,490,NaN,AVDA. ITALIA 1463,PROVIDENCIA,SANTIAGO,info@capperi.cl
4,Venta,CASA MATRIZ,REYNALDO CARDENAS,COMERCIAL GASTRONOMICA DE BERARDINIS LTDA,76147926-1,factura electrónica t,118788,NaN,2023-02-14,"=""13/02/2023 11:49 AM""",...,135946,10900,619200,523200,540,NaN,AVDA. ITALIA 1463,PROVIDENCIA,SANTIAGO,info@capperi.cl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165646,Venta,TIENDA VITACURA,RICHARD NUÑEZ,Sin cliente,NaN,boleta electrónica t,124583,65cd348295e24c0f6244d591,2024-02-14,"=""14/02/2024 06:45 PM""",...,3214,7430,12150,14860,450,NaN,NaN,NaN,NaN,NaN
165647,Venta,TIENDA VITACURA,RICHARD NUÑEZ,Sin cliente,NaN,boleta electrónica t,124583,65cd348295e24c0f6244d591,2024-02-14,"=""14/02/2024 06:45 PM""",...,9262,17900,42030,35800,540,NaN,NaN,NaN,NaN,NaN
165648,Venta,TIENDA VITACURA,RICHARD NUÑEZ,Sin cliente,NaN,boleta electrónica t,124583,65cd348295e24c0f6244d591,2024-02-14,"=""14/02/2024 06:45 PM""",...,6865,6950,36840,20850,640,NaN,NaN,NaN,NaN,NaN
165649,Venta,TIENDA VITACURA,MANUEL UGARTE,Sin cliente,NaN,boleta electrónica t,124584,65cd34ee95e24c0f6244d5c0,2024-02-14,"=""14/02/2024 06:47 PM""",...,3850,12500,19850,12500,610,NaN,NaN,NaN,NaN,NaN
165650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,6356485645,NaN,28224421700,NaN,25084774110,NaN,NaN,NaN,NaN,NaN

In [67]:
df2 = pd.read_csv('data.csv')
df2

/var/folders/8v/92m9nr2x2rlg853t_ypdtlrr0000gn/T/ipykernel_60146/1037473903.py:1: DtypeWarning: Columns (6,15,16,17,18,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('data.csv')

,Tipo Movimiento,Sucursal,Vendedor,Cliente,Rut Cliente,Tipo de Documento,Numero Documento,Tracking Number,Fecha Documento,Fecha y Hora Venta,...,Subtotal Bruto,Costo Neto Unitario,Margen,Costo Total Neto,% Margen,Detalle de Productos/Servicios Pack/Promo,Dirección Cliente,Comuna Cliente,Ciudad Cliente,Email Cliente
0,Tipo Movimiento,Sucursal,Vendedor,Cliente,Rut Cliente,Tipo de Documento,Numero Documento,Tracking Number,Fecha Documento,Fecha y Hora Venta,...,Subtotal Bruto,Costo Neto Unitario,Margen,Costo Total Neto,% Margen,Detalle de Productos/Servicios Pack/Promo,Dirección Cliente,Comuna Cliente,Ciudad Cliente,Email Cliente
1,Venta,CASA MATRIZ,REYNALDO CARDENAS,LA DIVINA COMIDA LIMITADA,76003274-3,factura electrónica t,118783,NaN,"=""14/02/2023""","=""13/02/2023 09:58 AM""",...,31114,52080,53150,208310,200,NaN,LOS PATOS 13735,LO BARNECHEA,SANTIAGO,ristoranteladivinacomida@gmail.com
2,Venta,CASA MATRIZ,REYNALDO CARDENAS,LA DIVINA COMIDA LIMITADA,76003274-3,factura electrónica t,118783,NaN,"=""14/02/2023""","=""13/02/2023 09:58 AM""",...,9568,6800,53200,27200,660,NaN,LOS PATOS 13735,LO BARNECHEA,SANTIAGO,ristoranteladivinacomida@gmail.com
3,Venta,CASA MATRIZ,REYNALDO CARDENAS,LA DIVINA COMIDA LIMITADA,76003274-3,factura electrónica t,118783,NaN,"=""14/02/2023""","=""13/02/2023 09:58 AM""",...,37263,55280,137040,110560,550,NaN,LOS PATOS 13735,LO BARNECHEA,SANTIAGO,ristoranteladivinacomida@gmail.com
4,Venta,CASA MATRIZ,REYNALDO CARDENAS,COMERCIAL GASTRONOMICA DE BERARDINIS LTDA,76147926-1,factura electrónica t,118788,NaN,"=""14/02/2023""","=""13/02/2023 11:49 AM""",...,50075,53680,206090,214710,490,NaN,AVDA. ITALIA 1463,PROVIDENCIA,SANTIAGO,info@capperi.cl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165647,Venta,TIENDA VITACURA,RICHARD NUÑEZ,Sin cliente,NaN,boleta electrónica t,124583.0,65cd348295e24c0f6244d591,"=""14/02/2024""","=""14/02/2024 06:45 PM""",...,3214,7430.0,12150,14860.0,450,NaN,NaN,NaN,NaN,NaN
165648,Venta,TIENDA VITACURA,RICHARD NUÑEZ,Sin cliente,NaN,boleta electrónica t,124583.0,65cd348295e24c0f6244d591,"=""14/02/2024""","=""14/02/2024 06:45 PM""",...,9262,17900.0,42030,35800.0,540,NaN,NaN,NaN,NaN,NaN
165649,Venta,TIENDA VITACURA,RICHARD NUÑEZ,Sin cliente,NaN,boleta electrónica t,124583.0,65cd348295e24c0f6244d591,"=""14/02/2024""","=""14/02/2024 06:45 PM""",...,6865,6950.0,36840,20850.0,640,NaN,NaN,NaN,NaN,NaN
165650,Venta,TIENDA VITACURA,MANUEL UGARTE,Sin cliente,NaN,boleta electrónica t,124584.0,65cd34ee95e24c0f6244d5c0,"=""14/02/2024""","=""14/02/2024 06:47 PM""",...,3850,12500.0,19850,12500.0,610,NaN,NaN,NaN,NaN,NaN
165651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6356485645,NaN,28224421700,NaN,25084774110,NaN,NaN,NaN,NaN,NaN

In [42]:
df = df.iloc[5:]
df = df.rename(columns=df.iloc[0])
# Print df head

In [53]:
df.columns

AttributeError: 'list' object has no attribute 'columns'

In [47]:
# Show me the unique values of column 'A'
print(df['Sucursal'].unique())
# # Count the nan values in the column 'A'
# print(df['Sucursal'].isnull().sum())
# # Drop the rows with nan values in the column 'A'
# df = df.dropna(subset=['Sucursal'])
# print(df['Sucursal'].unique())

['CASA MATRIZ' 'EVENTOS - CASA MATRIZ' 'TIENDA VITACURA']

In [24]:
df['Fecha Documento'] = pd.to_datetime(df['Fecha Documento'], format='%d/%m/%Y')

In [27]:
#Sort the dataframe by column 'Fecha Documento' in ascending order
df = df.sort_values(by='Fecha Documento', ascending=True)
print(df.head(1))
#print value in the first row where Sucursal is 'CASA MATRIZ'
# print(df[df['Sucursal'] == 'CASA MATRIZ'].iloc[0])

    Tipo Movimiento         Sucursal       Vendedor      Cliente Rut Cliente  \
481           Venta  TIENDA VITACURA  MANUEL UGARTE  Sin cliente         NaN

        Tipo de Documento  Numero Documento           Tracking Number  \
481  boleta electrónica t            104341  63ebea668bd0060549391861

    Fecha Documento   Fecha y Hora Venta  ... Subtotal Bruto  \
481      2023-02-14  14/02/2023 05:09 PM  ...          11480

    Costo Neto Unitario Margen Costo Total Neto % Margen  \
481                3552   6095             3552       63

     Detalle de Productos/Servicios Pack/Promo  Dirección Cliente  \
481                                        NaN                NaN

     Comuna Cliente  Ciudad Cliente  Email Cliente
481             NaN             NaN            NaN

[1 rows x 29 columns]

In [48]:
filtered_df = df[df['Sucursal'] == 'CASA MATRIZ']
total_branch = filtered_df['Subtotal Bruto'].sum()
print(total_branch)

1895580408

# BRANDS

In [40]:
# Supose df2 is the df ready just missing the columns brands

#df shape
df3 = pd.read_csv('productos.csv')
# Keep just Gourmitalia
df3 = df3[df3['proveedores_id'] == 1]
#  Rename the sku to match the other df
df3.rename(columns={'sku_code': 'SKU'}, inplace=True)
# Just keep the columns we need to merge with the main df SKU and marca
df3 = df3[['SKU', 'marca']]
#export to csv
df3.to_csv('brands.csv', index=False)
# Fix the int of SKU in the main df
# FIX DATE
df2['SKU'] = df2['SKU'].str.replace('=', '')  # Remove "="
df2['SKU'] = df2['SKU'].str.replace('"', '')  # Remove extra quotes
df2['SKU'] = df2['SKU'].astype(str)
# merge the two df
df2_with_marca = pd.merge(df2, df3[['SKU', 'marca']], on='SKU', how='left')

In [28]:
df3.columns

Index(['id', 'image_path', 'id_bsale', 'id_variante', 'proveedores_id',
       'sku_code', 'nombre_producto', 'descripcion', 'precio', 'categoria',
       'formato', 'stock', 'created_at', 'updated_at', 'cantidad', 'unidad',
       'estado', 'formato_id', 'marca', 'taxes'],
      dtype='object')

In [29]:
df2.columns

Index(['Tipo Movimiento', 'Sucursal', 'Vendedor', 'Cliente', 'Rut Cliente',
       'Tipo de Documento', 'Numero Documento', 'Tracking Number',
       'Fecha Documento', 'Fecha y Hora Venta', 'Lista de Precio',
       'Tipo de Producto / Servicio', 'SKU', 'Producto / Servicio',
       'Otros Atributos', 'Precio Neto Unitario', 'Cantidad',
       'Subtotal Impuestos', 'Subtotal Neto', 'Subtotal Bruto',
       'Costo Neto Unitario', 'Margen', 'Costo Total Neto', '% Margen',
       'Detalle de Productos/Servicios Pack/Promo', 'Dirección Cliente',
       'Comuna Cliente', 'Ciudad Cliente', 'Email Cliente'],
      dtype='object')

In [30]:
df3.shape

(1209, 20)

In [31]:
# Rename 'sku_code' in df3 to 'SKU'
df3.rename(columns={'sku_code': 'SKU'}, inplace=True)

/var/folders/8v/92m9nr2x2rlg853t_ypdtlrr0000gn/T/ipykernel_71591/2429081202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.rename(columns={'sku_code': 'SKU'}, inplace=True)

In [33]:
df2_with_marca = pd.merge(df2, df3[['SKU', 'marca']], on='SKU', how='left')

In [47]:
# Count the number of rows where 'Marca' is NaN
nan_count = df2_with_brands['marca'].isna().sum()

print(f"Number of rows with NaN in the 'Marca' column: {nan_count}")

# Show a row where marca is Nan
print(df2_with_brands[df2_with_brands['marca'].isna()].iloc[0])

Number of rows with NaN in the 'Marca' column: 7547
Tipo Movimiento                                                              Venta
Sucursal                                                               CASA MATRIZ
Vendedor                                                         REYNALDO CARDENAS
Cliente                                                    GRACIELA CANDIA KWASNIK
Rut Cliente                                                             14520286-8
Tipo de Documento                                            factura electrónica t
Numero Documento                                                            118817
Tracking Number                                                                NaN
Fecha Documento                                                2023-02-14 00:00:00
Fecha y Hora Venta                                          ="14/02/2023 07:47 AM"
Lista de Precio                                               ="MAYORISTA 11/2022"
Tipo de Producto / Servicio                                       POSTRES Y DULCES
SKU                                                                       PNT001CA
Producto / Servicio                          PANETTONE MELEGATTI TRADIZIONALE 1 kg
Otros Atributos                                                                NaN
Precio Neto Unitario                                                         65400
Cantidad                                                                        30
Subtotal Impuestos                                                           37280
Subtotal Neto                                                                19620
Subtotal Bruto                                                               23348
Costo Neto Unitario                                                          65400
Margen                                                                          00
Costo Total Neto                                                            196200
% Margen                                                                        00
Detalle de Productos/Servicios Pack/Promo                                      NaN
Dirección Cliente                                                     FLANDES 1034
Comuna Cliente                                                          LAS CONDES
Ciudad Cliente                                                            SANTIAGO
Email Cliente                                          gracielamcandia@hotmail.com
marca                                                                          NaN
Name: 52, dtype: object

In [42]:
df2['SKU']

0         14024
1         14022
2         15203
3         14013
4         33005
          ...
165646    65020
165647    33055
165648    65021
165649    33005
165650      nan
Name: SKU, Length: 165651, dtype: object